
.letters-con{
    display: flex;
}
.single-letter {
    position: relative;
    flex-direction: column;
    background-color: white;
    width: 400px;
    border-radius: 16px;
    background-color: rgb(253, 241, 225);
    /* background-color: rgb(181, 112, 22); */
    box-shadow: -1rem 0 3rem hwb(32 73% 13%);
    transition: transform 0.3s ease;
}


.single-letter:focus-within~.single-letter,
.single-letter:hover~.single-letter {
    transform: translateX(260px);
}

.single-letter:hover {
    transform: translateY(-1rem);
}

.single-letter:not(:first-child) {
    margin-left: -130px;
}
.single-letter:not(:last-child) {
    margin-right:-130px;
}

.letter-content{
font-family: 'Roboto Mono', monospace;
height: 350px;
overflow-y: scroll;
background-color: white;
border-radius: 6px;
padding: 0.5rem;
}


.share-btn {
    font-size: 3rem;
    padding: 0.5rem;
    padding-bottom: 0.2rem;
}

.disappear {
    display: none;
}

@media (max-width: 768px) {

    /* or whatever max-width you decide for mobile */
    .letters-con {
        flex-direction: column;
        align-items: center;
    }

    .single-letter {
        width: 80vw;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    }

        .single-letter:not(:first-child) {
            margin-left: 0;
        }
    
        .single-letter:not(:last-child) {
            margin-right: 0;
        }

    .single-letter:hover {
        transform: none;
        /* Disable hover effect that moves card */
    }
        .single-letter:focus-within~.single-letter,
        .single-letter:hover~.single-letter {
        transform: none;
        }
}

@media (max-width: 650px) {
    .single-letter {
        width: 90vw;
    }
}
