.update-form{
    max-width: 800px;
        margin: 0 auto;
        /* border: 2px solid green; */
        display: flex;
        column-gap: 40px;
}

.first-questionnaire-update {
    flex: 2;
    border-radius: 3px;
    padding: 1rem;
    background-color: #f2dfd6;
    border: 1.5px solid rgb(244, 239, 239);
}

.second-questionnaire-update {
    flex: 1;
    border-radius: 3px;
    padding: 1rem;
    background-color: #f2dfd6;
    background-color: #fce5e1;
    border: 1.5px solid rgb(244, 239, 239);
}